/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
    margin-left: -39px;
    color: #FFFFFF;
}
ul li {
    display: inline-block;
    margin-right: 25px;
}
.center{
    text-align: center;
}
.spacer{
    margin-top: 38px;
}
.gap{
    grid-gap: 350px;
}
.container-xl {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 1050px;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.blue{
    color: #3A599A;
}
.green{
    color: #68BB45;
}
.white{
    color: #FFFFFF;
}
.btn{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95px;
    height: 36px;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    cursor: pointer
}
.btn-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 20px;
}
.btn-log{
    background: #3A599A;
}
.btn-log:hover{
    background: rgba(58, 89, 154, 0.5)
}
.btn-reg{
    background: #00A846;
}
.btn-reg:hover{
    background: rgba(0, 168, 70, 0.5);
}
/* nav */
nav.mobile {
    display: none;
}
.nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
}
nav.mobile.opened {
    /* position: relative; */
    margin-left: auto;
    width: 200px;
    /* display: flex; */
    /* justify-content: left; */
    /* width: 328px; */
}
button.menu-trigger span:nth-child(2) {
    top: 13px;
}
button.menu-trigger span:last-child {
    bottom: 5px;
    -webkit-transition: all ease 300ms;
    -o-transition: all ease 300ms;
    transition: all ease 300ms;
}
button.menu-trigger span:first-child {
    top: 5px;
    -webkit-transition: all ease 300ms;
    -o-transition: all ease 300ms;
    transition: all ease 300ms;
}
button.menu-trigger span {
    display: block;
    border: 2px solid rgb(0 0 0 / 46%);
    position: absolute;
    width: calc(100% - 10px);
    left: 5px;
    right: 5px;
    border-radius: 5px;
}
  
button.menu-trigger {
    padding: 5px;
    width: 40px;
    height: 30px;
    position: relative;
    background: #ffffff6e;
    border: 0;
    border-radius: 2px;
}
nav.opened button.menu-trigger span:nth-child(2) {
    visibility: hidden;
}
nav.opened button.menu-trigger span:last-child {
    rotate: -45deg;
    bottom: 13px;
}
nav.opened button.menu-trigger span:first-child {
    rotate: 45deg;
    top: 13px;
}
  
nav.mobile .menu-items {
    height: 0px;
    overflow: hidden;
  }
  nav.mobile.opened .menu-items {
    height: 348px;
    z-index: 1;
} 
.mobile .menu-items {
    position: absolute;
    width: 100%;
    background-color: #68BB45;
    -webkit-transition: all ease 300ms;
    -o-transition: all ease 300ms;
    transition: all ease 300ms;
}
nav.mobile .menu-items ul li {
    display: block;
    padding: 7px 20px;
    font-size: 18px;
    color: #FFFFFF;
}

@media (max-width: 1024px) {
    nav.desktop {
        display: none;
    }
    nav.mobile {
        display: block;
    }
    section.tier0 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    section {
        padding-left: 20px;
        padding-right: 20px;
    }
    section.tier0 {
        padding: 0;
    }
    section.header-section .container-xl{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

.number{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 8px;
}
.number img {
    width: 25px;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

section.tier0{
    background-color:  #68BB45;
}
/* tier 1 */
section.tier1{
    background-image: url(../../images/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    padding-top: 200px;
    padding-bottom: 245px;
    padding-left: 20px;
    margin-top: auto;
}
.text-box {
    background: -o-linear-gradient(349.71deg, #68BB45 10.29%, #3A599A 84.01%);
    background: linear-gradient(100.29deg, #68BB45 10.29%, #3A599A 84.01%);
    opacity: 0.8;
    border-radius: 8px;
    padding: 19px 45px 45px 19px;
    width: 500px;
    max-width: 100%;
    border-radius: 10px;
    margin-left: -8px;
}

/* tier 2 */
.card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 20px;
    max-width: 100%;
    text-align: center;
}

/* card */
@media (max-width: 1132px) {
    .card {
        margin: auto;
    }
    .card-container {
      margin-top: 30px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .card-form{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
      }
    .tier6 .right-content h3{
        width: 100%;
    }

    .tier4 .group-pic{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .tier4 .container-xl{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}
/* tier 3 */
section.tier3 {
    background: -o-linear-gradient(354.36deg, #68BB45 0.18%, #3A599A 100%);
    background: linear-gradient(95.64deg, #68BB45 0.18%, #3A599A 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
section.tier3 .left-content{
    margin-bottom: -7px;
    margin-right: 77px;
   
}
.right-content.white {
    margin: auto;
}
section.tier3 .content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
@media (max-width: 896px) {
    section.header-section .logo img{
        width: 235px;
    }
    section.tier1, section.tier5 {
       padding: 5px;
    }
    section.tier1, .text-box{
        margin-left: auto;
    }
    section.tier3 > div {
        text-align: center;
        /* justify-content: center; */
        margin: auto;
        width: 100%;
    }
    section.tier3 .right-content .wrapper {
      width: 100%;
    }
    .tier3 .content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .tier3 .left-content img {
        width: 100%;
        /* margin: auto; */
    }
    section.tier3 .left-content {
        margin-bottom: -7px;
        margin-right: auto;
        margin-left: auto;
    }
    section.tier5 .text-box-white{
        margin-left: auto;
        
    }
    section.tier6 .right-content {
        text-align: center;
    }
    section.tier6 .right-content h3 {
        width: 100%;
    }
    section.tier6 .form-input{
        width: 100%;
    }
    section.tier7 .container-xl{
        display: block;
    }
    section.tier7 .bottom-img img{
        width: 235px;
    }
    section.tier7 .right-content{
        display: block;
    }
    section.tier7 .number {
        /* text-align: center; */
        width: 364px;
        /* margin-left: auto; */
    }
}

.btn-transparent {
    background: transparent;
    border-color: #FFFFFF;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    width: 175px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer
  }
.btn-transparent:hover{
    background: #ffffff;
    color: #000;
}
/* tier 4 */
.tier4 .card-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 111px
}
img.name {
    margin-left: -19px;
    padding-left: -66px;
}
img.circle {
    margin-bottom: -18px;
}

.group-pic h1 {
    color: #818182;
    width: 156px;
}
/* tier 5 */
.tier5{
    background-image: url(../../images/Rectangle\ 6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    padding-top: 48px;
    padding-bottom: 245px;
    padding-left: 20px;
    margin-top: auto;
}
.tier5 .text-box-white{
    color: #000 ;
    background: rgba(255, 255, 255,0.4);
    border-radius: 8px;
    padding: 19px 45px 45px 19px;
    width: 500px;
    max-width: 100%;
    border-radius: 10px;
    margin-left: -10px;
}
.tier5 .text{
    position: relative;
    color: #000;
}

.tier5 button{
    width: 200px;
}

/* tier 6 */
.tier6 h1{
    font-size: 56px;
    font-weight: 800;
    margin-bottom: -21px;
}
.tier6 .container-xl {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.tier6 .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 98px;
    max-width: 100%;
    text-align: center;
}
.tier6 .left-content img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.bottom.container-xl {
    text-align: center;
}
.bottom {
    width: 758px;
    max-width: 100%;
}
.right-content h3 {
    width: 283px;
}
.card-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 40px;
    border-radius: 16px;
    background: #F8F8F8;
    width: 1100px;
    max-width: 100%;
}
.tier6 form {
    display: -ms-inline-grid;
    display: inline-grid;
    row-gap: 25px;
}
input.form-input {
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    width: 100%;;
    height: 36px;
    left: 772px;
    top: 2961px;
    background: #FFFFFF;
    border: 1px solid #CED4DA;
    border-radius: 4px;
}
textarea{
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    width: 285px;
    height: 85px;
    left: 772px;
    top: 2961px;
    background: #FFFFFF;
    border: 1px solid #CED4DA;
    border-radius: 4px;
}
/* tier 7 */
.tier7 h2 {
    width: 175px;
    color: #6C757D;
}
.tier7 .container-xl {
    gap: 248px;
}
.tier7 .right-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 42px;
}
.tier7 .number{
    width: 364px;
}
.bottom-img {
    margin-top: 20px;
}
.location{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.location img {
    width: 25px;
    height: 25px;
    margin-top: 12px;
}
/* footer */
section.footer{
    height: 73px;
    background: -o-linear-gradient(348.09deg, #68BB45 -0.18%, #3A599A 57.38%);
    background: linear-gradient(101.91deg, #68BB45 -0.18%, #3A599A 57.38%);
}
section.footer p {
    text-align: center;
    padding-top: 25px;
}